/* General Formatting */

:root {
    --main-color: #2B3C38;
    --accent-color: #ECB118;
    --dark-accent-color: #A64F38;
    --main-white: #F0F3ED;
    --main-gray: #dbd7d7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body {
    background-color: var(--main-white);
    color: black;
}

.container {
    display: grid;
    grid-template: 1fr 1fr 5fr 5fr / 1fr 4fr 1.5fr;
    grid-template-areas: 
        "nav header header"
        "nav header header"
        "nav article sidebar"
        "nav article sidebar";
}

h2 {
    color: var(--main-color);
    text-decoration: underline overline var(--dark-accent-color);
    margin: 1rem 0;
}

.card,
.sidebar-card {
    background-color: var(--main-white);
    padding: 1rem;
    border-radius: 0.25rem;
}

li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Navigation Formatting */

.nav {
    background-color: var(--main-color);
    color: var(--main-white);
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 0.25rem;
    grid-area: nav;
    display: grid;
    grid-template:  1fr 1fr 10fr 8fr / 1fr;
    grid-template-areas: 
        "dash"
        "...."
        "list"
        "....";
}

.nav ul {
    list-style-type: none;
    grid-area: list;
}

.nav div {
    grid-area: dash;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    align-items: center;
}

.nav h1 {
    justify-self: start;
}

.nav-main-icon {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    fill: var(--main-white);
}

.nav ul li {
    display: grid;
    grid-template: 1fr / 1fr 6fr;
    align-items: center;
    justify-items: start;
}

.nav ul li:hover {
    color: var(--accent-color);
    font-weight: 800;
}

.nav-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    fill: var(--main-white);    
}



/*** Header Formatting ***/

.header {
    background-color: var(--main-white);
    color: black;
    padding: 1rem;
    margin: 0.2rem;
    grid-area: header;
    display: grid;
    grid-template: repeat(2, 1fr) / 2fr 1fr;
    grid-template-areas: 
        "search notif-icon-name"
        "hello action-buttons";
}

/* Search Formatting */

.search {
    grid-area: search;
    display: grid;
    grid-template: 1fr / 1fr 15fr;
    grid-template-areas: "spyglass searchbar";
    align-items: center;
    padding: 1rem;
}

.spyglass {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    grid-area: spyglass;
    fill: var(--main-color);
    justify-self: end;
}

.search input {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    height: 2.5rem;
    width: calc(100% - 2.5rem);
    padding: 2px 10px 2px 10px;
    outline: 0;
    background-color: var(--main-color);
    color: var(--main-white);
    font-size: 1.25rem;
    grid-area: searchbar;
}

.search input:hover, .search input:focus {
    border: 3px solid var(--accent-color);
}

/* Notification Icon Name Formatting */

.notif-icon-name {
    grid-area: notif-icon-name;
    display: grid;
    grid-template: 1fr / 1fr 0.5fr 1fr;
    grid-template-areas: "notif icon name";
    place-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
}

.notif {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--main-color);
    grid-area: notif;
    justify-self: end;
}

.icon {
    height: 3rem;
    width: 3rem;
    fill: var(--main-color);
    grid-area: icon;
}

.name {
    grid-area: name;
    justify-self: start;
}

.notif:hover,
.icon:hover {
    fill: var(--accent-color);
}

/* Hello Formatting */

.hello {
    grid-area: hello;
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 10fr;
    grid-template-areas:
        "large-icon hello-txt"
        "large-icon hello-name";
}

.large-icon {
    height: 5rem;
    width: 5rem;
    fill: var(--main-color);
    grid-area: large-icon;
}

.large-icon:hover {
    fill: var(--accent-color);
}

.hello-txt {
    grid-area: hello-txt;
    align-self: end;
}

.hello-name {
    grid-area: hello-name;
    align-self: start;
    font-size: 1.5rem;
    font-weight: 800;
}

/* Action Buttons Formatting */

.action-buttons {
    grid-area: action-buttons;
    place-self: center stretch;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-template-areas: "new-action upload-action share-action";
    place-items: center;
}

.action-buttons button {
    padding: 0.75rem 1.5rem;
    background-color: var(--dark-accent-color);
    color: var(--main-white);
    border-radius: 1.5rem;
    font-size: 1rem;
    border: 3px solid var(--dark-accent-color);
}

.new-action {
    justify-self: end;
}

.share-action {
    justify-self: start;
}

.action-buttons button:hover {
    background-color: var(--main-color);
}

/*** Sidebar Formatting ***/

.sidebar {
    background-color: var(--main-gray);
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 0.25rem;
    grid-area: sidebar;
}

/* Announcements Formatting */

.announcements .sidebar-card {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    grid-template-areas:
        "sidebar-title1"
        "sidebar-title2"
        "sidebar-title3";
        gap: 1rem;
}

.announcements .sidebar-card div:first-child {
    grid-area: sidebar-title1;
    border-bottom: 2px solid var(--dark-accent-color);
    padding: 1rem;
}

.announcements .sidebar-card div:nth-child(2){
    grid-area: sidebar-title2;
    border-bottom: 2px solid var(--dark-accent-color);
    padding: 1rem;
}

.announcements .sidebar-card div:last-child {
    grid-area: sidebar-title3;
    padding: 1rem;
}

.announcements .sidebar-title {
    font-size: 1rem;
    font-weight: 800;
}

.announcements .sidebar-card div p:last-child {
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

/* Trending Formatting */

.trending {
    margin-top: 1.5rem;
}

.trending .sidebar-card div {
    display: grid;
    grid-template: 2fr / 1fr 4fr;
    grid-template-areas: 
        "svg trend-id"
        "svg trend-desc";
    justify-items: start;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.trending .sidebar-card div svg {
    grid-area: svg;
}

.trend-id {
    grid-area: trend-id;
    font-size: 1rem;
    font-weight: 600;
    align-self: end;
    line-height: 0;
}

.trend-desc {
    grid-area: trend-desc;
    font-size: 1rem;
    align-self: start;
}

/*** Article Formatting ***/

.article {
    background-color: var(--main-gray);
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 0.25rem;
    grid-area: article;
    display: grid;
    grid-template: 0.5fr repeat(3, 3fr) / repeat(2, 1fr);
    grid-template-areas: 
        "heading heading"
        "card1 card2"
        "card3 card4"
        "card5 card6";
    gap: 1rem;
}

.article .heading {
    grid-area: heading;
    place-self: start;
}

.article > div:nth-child(even) {
    border-left: 5px solid var(--accent-color);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

.article > div:nth-child(odd) {
    border-left: 5px solid var(--dark-accent-color);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

.article > .card:hover {
    transform: translateY(-2px);
}

.article > div:nth-child(5) {
    border-left: 5px solid var(--accent-color);
}

.article > div:nth-child(4) {
    border-left: 5px solid var(--dark-accent-color);
}

.article div p.title {
    font-size: 1rem;
    font-weight: 800;
    align-self: center;
}

.article .card {
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr;
}

.card div {
    justify-self: end;
}

.card div svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--dark-accent-color);
    margin-right: 1.5rem;
}

.card div svg:hover {
    fill: var(--main-color);
}


