:root {
    --main-color: rgb(64, 176, 166);
    --accent-color: rgb(225, 190, 106);
    --main-white: rgb(244, 251, 250);
    --main-gray: rgb(212, 212, 212);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1fr 5fr 5fr / 1fr 4fr 1fr;
    grid-template-areas: 
        "nav header header"
        "nav header header"
        "nav article sidebar"
        "nav article sidebar";
}

.nav {
    background-color: var(--main-color);
    color: var(--main-white);
    padding: 1rem;
    grid-area: nav;
}

.header {
    background-color: var(--main-white);
    color: black;
    padding: 1rem;
    grid-area: header;
}

.sidebar {
    background-color: var(--main-gray);
    padding: 1rem;
    grid-area: sidebar;
}

.article {
    background-color: var(--main-gray);
    padding: 1rem;
    grid-area: article;
}

.card,
.sidebar-card {
    background-color: var(--main-white);
    padding: 1rem;
}

